---
layout: default
---
<style>
  .post-content code {
    background-color: #f6f8fa; /* Light grey background */
    color: #24292f;           /* Dark text color */
    padding: 0.2em 0.4em;     /* Spacing around text */
    border-radius: 6px;       /* Rounded corners */
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    font-size: 85%;           /* Standard code sizing */
  }
</style>

<article class="post">

  <header class="post-header">
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
      <span>
        {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>#{{ tag_name }}</nobr></code></a>
        {% endfor %}
      </span>  
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <br/>
</article>
